html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    font-family: inherit;
}

article {
    width: 70%;
    padding: 0.5em 1.5em 0.5em 1.5em;
    display: inline-block;
}

article header p {
    padding-bottom: 1.5em;
}

img {
    width: 500px;
}


aside {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

aside ul{
    padding: 0;
}